body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color: #fff
}

.nav {
    display: flex;
    list-style: none;
}

.nav a {
    padding: 8px 12px;
    color: #fff
}

