* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    color: #fff
}

.nav {
    display: flex;
    list-style: none;
}

.nav a {
    padding: 8px 12px;
    color: rgb(22, 85, 195)
}

.portfolio-grid {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 10px

}

.portfolio-grid-item {
    flex-grow: 0;
    background: forestgreen;
    width: calc(50% - 5px);
    padding: 15px; 
}

.hero-item {
    width: 100%;
}
